body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

h1 {
    color: green;
}

p {
    font-size: 18px;
    color: #333;
}

/* Делаем футер фиксированным внизу */
.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: gray;
}
@media (max-width: 767px) { /* Для мобильных устройств */
    .footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

.worker-img {
    width: 150px; /* Изменяй размер, если нужно */
    margin-bottom: 20px; /* Отступ от текста */
}

@media (min-width: 768px) { /* Для компьютеров (ширина экрана 768px и больше) */
    body {
        justify-content: center; /* Центрируем по вертикали на ПК */
    }
}

@media (max-width: 767px) { /* Для мобильных устройств */
    body {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    .content {
        flex-grow: 1;
    }

    .mobile-warning {
        display: block; /* Показываем элемент для мобильных устройств */
        font-size: 14px;
        color: gray;
        text-align: center;
        margin-top: auto;
        margin-bottom: 10px;
        background-color: lightyellow; /* Временный фон для выделения */
        border: 1px solid red; /* Временная рамка для выделения */
        padding: 10px;
    }

    .footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: gray;
}

}

.mobile-warning {
    display: none;
}

@media (max-width: 767px) { /* Для мобильных устройств */
    .mobile-warning {
        display: block; /* Показываем элемент для мобильных устройств */
        font-size: 14px;
        color: gray;
        text-align: center;
        background-color: lightyellow; /* Временный фон для выделения */
        border: 1px solid red; /* Временная рамка для выделения */
        padding: 10px;
        margin-top: 20px; /* Отступ сверху, чтобы не слипался с остальным текстом */
        margin-bottom: 50px; /* Отступ снизу, чтобы не слипался с футером */
    }
}

/* Скрываем кнопки по умолчанию */
.tool-buttons {
    display: none;
    justify-content: center; /* Центрируем кнопки */
    gap: 10px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху, чтобы кнопки не прилипали к холсту */
}

/* Для мобильных устройств */
@media (max-width: 767px) {
    .tool-buttons {
        margin-top: 20px; /* Отступ сверху, чтобы кнопки не прилипали к холсту */
        margin-bottom: 50px; /* Отступ снизу, чтобы не перекрывать футер */
    }
}
